/* Universal
================================== */

body, h1, h2, h3, h4, h5, h6, p, span, address {
  font-family: 'Montserrat', sans-serif;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  box-shadow: none;
}

body {
  background-image: url(../img/body-bg.jpg);
}

h2 {
  color: #3A2F93;
  text-transform: uppercase;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #000;
}

h2 span {
  color: #ffcc00;
}

hr {
  margin: 10px 0px 30px;
}

h4  {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.4em;
  color: #2F2582;
}

address {
  font-style: normal;
}

textarea {
  height: 125px;
  max-width: 940px;
}

.address h4 {
  text-transform: uppercase;
}

.clearfix {
  display: block;
  height: 50px;
}

.contain-to-grid {
  background-image: url(../img/body-bg.jpg);
}

.wrapper {
  max-width: 1000px;
  padding: 0px 30px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.right {
  float: right;
}

.selected {
  color: #ffcc00;
  border-top: 5px solid #ffcc00;
}

.more:hover {
  color: #ffcc00;
}

.text-left {
  text-align: left;
}

.button {
  background: transparent;
  border: 5px solid #2f2582;
  color: #2f2582;
  padding: 0.8rem 3rem;
}

.button:hover {
  background: #2f2582;
  color: #ffcc00;
}

.m-bottom-50 {
  margin-bottom: 50px !important;
}

/* Nav Bar
================================== */

.topbar {
  height: 94px;
}

.menu-bar {
  height: 40px;
  background-color: #2f2582;
}

.menu-bar .menu {
  display: inline-block;
  list-style: none;
  padding-top: 10px;
  margin: 0 20px;
  text-transform: uppercase;
}

.menu-bar .menu a {
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 9px;
}

.menu-bar .menu a:hover {
  color: #ffcc00;
  border-top: 5px solid #ffcc00;
}

.logo {
  position: absolute;
  left: 0;
  top: -85px;
}

.f-dropdown {
  background: #2f2582;
  border: none;
  top: 50px !important;
  margin-left: -55px;
  padding: 10px;
}

.f-dropdown li a {
  color: #ffffff;
  background: #2f2582;
  border: none;
}

.f-dropdown li a:hover {
  color: #ffcc00;
  border-top: none !important;
  height: inherit;

}

.f-dropdown:before, .f-dropdown:after {
  border: inset 10px;
  left: 50% !important;
  margin-left: -10px !important;
  border-color: transparent transparent #2f2582 transparent;
  top: -20px !important;
}

.contact-index {
  position: absolute;
  right: 75px;
  top: 15px;
}

.contact-index i {
  float: left;
  margin-right: 15px;
}

.contact-index span {
  display: block;
  float: left;
  line-height: 1.3em;
  font-size: 1.3em;
}

.f-topbar-fixed header .wrapper img {
  display: none;
}

/* Slider
================================== */

.slick-slider {
  margin-bottom: 0px;
}

.slider {
  height: 620px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-caption {
  width: 100%;
  background: rgba(255,255,255,0.7);
  height: 100px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0;
  padding-top: 10px;
}

.slider-caption h2 {
  margin: 0px;
}

.slider .slider-1 {
  background-image: url(../img/slider-1.jpg);
  background-size: cover;
  background-position: center;
  height: 620px;
}

.slider .slider-2 {
  background-image: url(../img/slider-2.jpg);
  background-size: cover;
  background-position: center;
  height: 620px;
}

.produk .slider .slider-1 {
  background-image: url(../img/slider-roof.jpg);
  background-size: cover;
  background-position: center;
  height: 620px;
}

.slick-dots {
  bottom: 100px;
  margin: 0 auto 10px;
}

.slick-dots li button:before {
  font-size: 16px;
}

.slick-dots li button:before {
  color: #ffffff;
  opacity: 0.8;
}

.slick-dots li.slick-active button:before {
  color: #ffcc00;
  opacity: 1;
}

.slick-prev, .slick-prev:focus, .slick-next, .slick-next:focus {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.slick-prev:hover, .slick-next:hover {
  opacity: 1;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -45px;
}

.slick-prev:before, .slick-next:before {
  color: #ffcc00;
  font-size: 40px;
}

.slick-slide img {
  width: 100%;
}

/* Main Content
================================== */

.main-content {
  text-align: left;
  margin-top: 50px;
}

.main-content h2 {
  border-bottom: 5px solid #2f2582;
  display: initial;
  padding-bottom: 8px;
}

.index-hero {
  height: 450px;
  margin: 50px 0px 0px;
  overflow: hidden;
  background-image: url(../img/bottom-banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Product List
================================== */

.subtitle {
  background: #2f2582;
  height: 60px;
  width: 100%;
  padding-top: 20px;
  position: relative;
  z-index: 3;
}

.small-block-grid-1 li {
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding-bottom: 0px;
}

.small-block-grid-1 li .thumbs {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 240px;
}

.small-block-grid-1 li a {
  height: 300px;
  display: block;
}

.small-block-grid-1 h3 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.small-block-grid-1 a:hover h3 {
  color: #ffcc00;
}

.small-block-grid-1 h3:before {
  bottom: 45px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(33, 36, 130, 0);
  border-bottom-color: #2F2582;
  border-width: 20px;
  margin-left: -20px;
  display: none;
}

.small-block-grid-1 a:hover h3:before {
  display: block;
}

.small-block-grid-1 .description {
  position: relative;
  text-align: center;
  bottom: 60px;
  background-color: rgba(47,37,130,0.7);
  height: 240px;
  padding: 70px 40px;
  z-index: 1;
  -webkit-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -moz-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
       -o-transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
          transition: all 200ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}

.small-block-grid-1 a:hover .description {
  bottom: 300px;
}

.small-block-grid-1 .description p {
  color: #ffffff;
  font-size: 1em;
}

.project-item {
  padding-right: 14px;
  padding-left: 6px;
}

/* Footer
================================== */

footer {
  width: 100%;
  background-color: #2F2582;
  text-align: center;
  margin-top: 50px;
}

footer span {
  color: #ffcc00;
  font-weight: normal;
  font-size: 0.8em;
}

/* Tabs in Product Categories
================================== */

.tabs dd>a, .tabs .tab-title>a {
  background: none;
  font-family: inherit;
  text-transform: uppercase;
  color: #2F2582;
  padding-left: 0px;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background: none;
  color: #ffcc00;
}

.tabs dd>a:hover, .tabs .tab-title>a:hover {
  background: none;
}

.tabs-content>.content {
  width: 80%;
}

.tabs-content>.content.active {
  float: right;
}

/* Product Page
================================== */

.product-page .small-block-grid-1 li a {
  height: 240px;
}

.product-page .small-block-grid-1 a:hover .description {
  bottom: 240px;
}

.product-page .small-block-grid-1 .description {
  padding: 20px 40px;
  background-color: rgba(47,37,130,0.7);
}

.product-page [class*="block-grid-"] {
  margin: 0rem -0.625rem 1rem;
}

.product-hero {
  height: 400px;
  margin: 0px;
  overflow: hidden;
  background-image: url(../img/slider-roof.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Project Page
================================== */

.project-hero {
  height: 400px;
  margin: 0px;
  overflow: hidden;
  background-image: url(../img/project-hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* About Page
================================== */

.about-hero {
  height: 400px;
  margin: 0px;
  overflow: hidden;
  background-image: url(../img/about-hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.wrapper.project .project-list {
  margin-bottom: 50px;
}

/* Contact Page
================================== */

.contact-hero {
  height: 400px;
  margin: 0px;
  overflow: hidden;
  background-image: url(../img/contact-hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

